<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../css/styles.css" /> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <div class= 'container'>
    <div class='jumbotron'>
      <h1>welcome to haridutt parashar's fan page</h1>
    </div>
    <a href="signup" class="next">Signup &raquo;</a>
  </div>
  
</body>
</html>